<!-- Header Component -->
<header class="header">
    <a href="../../index.html" class="logo">BOOKBUY</a>
    <nav class="nav-menu">
        <ul class="nav-list">
            <li><a href="../../index.html" class="nav-link">Home</a></li>
            <li><a href="https://bea-nails.bookbuy.ca/" class="nav-link">Services</a></li>
        </ul>
    </nav>
    <button class="mobile-menu-icon">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </button>
</header>
